@import '~bootstrap/scss/bootstrap';
@import './variables';

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: $font-family-title;
}

a {
  text-decoration: none;
}

main {
  flex: 1;
}

.navbar-brand {
  font-family: $font-family-title;
  font-weight: $font-weight-normal;
  font-size: 1.8rem;
}

.card{
  .card-title{
    color: #1a1d20;
    font-weight: bold;
  }
}

footer {
  background: $primary;
}